In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\arnaz\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\arnaz\anaconda3\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\arnaz\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\arnaz\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\arnaz\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\arnaz\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.17.0)

In [3]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\arnaz\anaconda3\lib\site-packages (0.17.0)

In [4]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\arnaz\anaconda3\lib\site-packages (2.7.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.11.2)
Requirement already satisfied: numpy>=1.14.5 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.19.2)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: tensorboard~=2.6 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (0.22.0)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.42.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (3.19.1)
Requirement already satisfied: libclang>=9.0.1 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (12.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (0.35.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.24.0)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (50.3.1.post20201107)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (3.3.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\arnaz\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.3.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\arnaz\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\arnaz\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\arnaz\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arnaz\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.6.20)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\arnaz\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in c:\users\arnaz\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow) (4.8.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\arnaz\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\arnaz\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\arnaz\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\arnaz\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\arnaz\anaconda3\lib\site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\arnaz\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)

In [6]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [7]:
# Dependencies
import numpy as np
import pandas as pd

In [8]:
import tensorflow
tensorflow.keras.__version__

'2.7.0'

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler ,OneHotEncoder
from tensorflow.keras.utils import to_categorical

# Read the CSV and Perform Basic Data Cleaning

In [10]:
#https://www.tensorflow.org/datasets/catalog/titanic
df_tensor = pd.read_csv("data/TensorFlowtitanic.csv")
# Drop the null columns where all values are null
df_tensor =df_tensor.dropna(axis='columns', how='all')
# Drop the null rows
df_tensor = df_tensor.dropna()
df_tensor.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [11]:
#https://www.kaggle.com/c/titanic
#https://www.kaggle.com/c/titanic
df_kaggle = pd.read_csv("data/KaggleTitanic_traindata.csv")
# Drop the null columns where all values are null
#df_kaggle = df_kaggle.dropna(axis='columns', how='all')
# Drop the null rows
#df_kaggle = df_kaggle.dropna()
df_kaggle.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
 hot encoding  can be used to convert the data from categorical to numerical (female - male)

In [12]:
df_kaggle.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [13]:
# Drop the null columns where all values are null
df_kaggle = df_kaggle.dropna(axis='columns', how='all')
# Drop the null rows
df_kaggle = df_kaggle.dropna()

In [14]:
df_kaggle.count()

PassengerId    183
Survived       183
Pclass         183
Name           183
Sex            183
Age            183
SibSp          183
Parch          183
Ticket         183
Fare           183
Cabin          183
Embarked       183
dtype: int64

In [15]:
df_kaggle.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
X = df_kaggle.drop(["Survived", 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked' ,'Name'], axis=1)

y= df_kaggle["Survived"]
print(X.shape, y.shape)

(183, 5) (183,)

In [36]:
X

     PassengerId  Pclass     Sex   Age  SibSp
1              2       1  female  38.0      1
3              4       1  female  35.0      1
6              7       1    male  54.0      0
10            11       3  female   4.0      1
11            12       1  female  58.0      0
..           ...     ...     ...   ...    ...
871          872       1  female  47.0      1
872          873       1    male  33.0      0
879          880       1  female  56.0      0
887          888       1  female  19.0      0
889          890       1    male  26.0      0

[183 rows x 5 columns]

In [37]:
data = X.copy()
data_binary_encoded = pd.get_dummies(data, columns=["Sex"])
data_binary_encoded.head()

    PassengerId  Pclass   Age  SibSp  Sex_female  Sex_male
1             2       1  38.0      1           1         0
3             4       1  35.0      1           1         0
6             7       1  54.0      0           0         1
10           11       3   4.0      1           1         0
11           12       1  58.0      0           1         0

In [38]:
#Need to undersatnd that
X = pd.get_dummies(X)

In [39]:
X

     PassengerId  Pclass   Age  SibSp  Sex_female  Sex_male
1              2       1  38.0      1           1         0
3              4       1  35.0      1           1         0
6              7       1  54.0      0           0         1
10            11       3   4.0      1           1         0
11            12       1  58.0      0           1         0
..           ...     ...   ...    ...         ...       ...
871          872       1  47.0      1           1         0
872          873       1  33.0      0           0         1
879          880       1  56.0      0           1         0
887          888       1  19.0      0           1         0
889          890       1  26.0      0           0         1

[183 rows x 6 columns]

In [43]:
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [41]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [45]:
X_train.head()

     PassengerId  Pclass   Age  SibSp  Sex_female  Sex_male
230          231       1  35.0      1           1         0
724          725       1  27.0      1           0         1
257          258       1  30.0      0           1         0
434          435       1  50.0      1           0         1
195          196       1  58.0      0           1         0

In [48]:
X_test.shape

(46, 6)

In [49]:
X_train.shape

(137, 6)

In [50]:
y_test.shape

(46,)

In [51]:
y_train.shape

(137,)

In [52]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [55]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

CREATE DEEP LEARNING MODEL

In [56]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [61]:
model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=6))
model.add(Dense(units=2, activation='relu'))
model.add(Dense(units=1, activation='softmax'))

In [64]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [63]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 42

 dense_4 (Dense)             (None, 2)                 14

 dense_5 (Dense)             (None, 1)                 3

=================================================================
Total params: 59
Trainable params: 59
Non-trainable params: 0
_________________________________________________________________

In [66]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60

ValueError: Creating variables on a non-first call to a function decorated with tf.function.

# Select your features (columns)

Over a period of nine years in deep space, the NASA Kepler space telescope has been out on a planet-hunting mission to discover hidden planets outside of our solar system.

To help process this data, you will create machine learning models capable of classifying candidate exoplanets from the raw dataset.

https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html

In [ ]:
kepoi_name: A KOI is a target identified by the Kepler Project that displays at least one transit-like sequence within Kepler time-series photometry that appears to be of astrophysical origin and initially consistent with a planetary transit hypothesis
kepler_name: [These names] are intended to clearly indicate a class of objects that have been confirmed or validated as planets—a step up from the planet candidate designation.
koi_disposition: The disposition in the literature towards this exoplanet candidate. One of CANDIDATE, FALSE POSITIVE, NOT DISPOSITIONED or CONFIRMED.
koi_pdisposition: The disposition Kepler data analysis has towards this exoplanet candidate. One of FALSE POSITIVE, NOT DISPOSITIONED, and CANDIDATE.
koi_score: A value between 0 and 1 that indicates the confidence in the KOI disposition. For CANDIDATEs, a higher value indicates more confidence in its disposition, while for FALSE POSITIVEs, a higher value indicates less confidence in that disposition.

In [ ]:
# Set features. This will also be used as your x values.
#selected_features = df[['names', 'of', 'selected', 'features', 'here']]

In [ ]:
df.columns

In [ ]:
#selected_features = df[['names', 'of', 'selected', 'features', 'here']]
# this is x-axis
selected_features = df[[ 'koi_fpflag_nt', 'koi_fpflag_ss', 'koi_fpflag_co',
       'koi_fpflag_ec', 'koi_period', 'koi_period_err1', 'koi_period_err2',
       'koi_time0bk', 'koi_time0bk_err1', 'koi_time0bk_err2', 'koi_impact',
       'koi_impact_err1', 'koi_impact_err2', 'koi_duration',
       'koi_duration_err1', 'koi_duration_err2', 'koi_depth', 'koi_depth_err1',
       'koi_depth_err2', 'koi_prad', 'koi_prad_err1', 'koi_prad_err2',
       'koi_teq', 'koi_insol', 'koi_insol_err1', 'koi_insol_err2',
       'koi_model_snr', 'koi_tce_plnt_num', 'koi_steff', 'koi_steff_err1',
       'koi_steff_err2', 'koi_slogg', 'koi_slogg_err1', 'koi_slogg_err2',
       'koi_srad', 'koi_srad_err1', 'koi_srad_err2', 'ra', 'dec',
       'koi_kepmag']]

In [ ]:
selected_features.head()

In [ ]:
df.head()

In [ ]:
# drop colums koi_disposition''
#axis=1 – Specifies the axis to be deleted. Axis 1 means column and 0 means rows.
#specifies the drop operation to be in same dataframe rather creating a copy of the dataframe after drop.
#selected_features = df.drop(columns=['koi_disposition', axis=1 ,inplace=True)])
#df = df.drop(columns=["koi_disposition"],axis=1 )
#selected_features = df.drop(columns=["koi_disposition"]))

In [ ]:
df.describe()

# Create a Train Test Split

Use `koi_disposition` for the y values

In [ ]:
y= df["koi_disposition"]

In [ ]:
# x = selected_features # Known 
# y = unknown
y.value_counts()

In [ ]:
X=selected_features
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [23]:
X_train.shape

(137, 5)

In [24]:
 y_train.shape

(137,)

In [27]:
y_test.shape

(46,)

In [29]:
X_test.shape

(46, 5)

In [30]:
X_train.head()

     PassengerId  Pclass     Sex   Age  SibSp
230          231       1  female  35.0      1
724          725       1    male  27.0      1
257          258       1  female  30.0      0
434          435       1    male  50.0      1
195          196       1  female  58.0      0

In [31]:
y_train.head()

230    1
724    1
257    1
434    0
195    1
Name: Survived, dtype: int64

In [34]:
X_train[['Sex']]

        Sex
230  female
724    male
257  female
434    male
195  female
..      ...
647    male
679    male
345  female
690    male
218  female

[137 rows x 1 columns]

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [ ]:
# Scale your data

In [ ]:
#Cut and paste without understanding
from sklearn.preprocessing import  MinMaxScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler =  MinMaxScaler().fit(X_train)

### END SOLUTION

In [ ]:
#Cut and paste without understanding
### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


### END SOLUTION

In [ ]:
X_train_scaled

# Train the Model

In [ ]:
from sklearn.linear_model import LogisticRegression
model_LogisticRegression = LogisticRegression()
model_LogisticRegression

In [ ]:
model_LogisticRegression.fit(X_train_scaled , y_train)

In [ ]:
print(f"Training Data Score: {model_LogisticRegression.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model_LogisticRegression.score(X_test_scaled, y_test)}")

Make predictions

In [ ]:
predictions = model_LogisticRegression.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearchCV model

In [ ]:
# Train the model with GridSearch

In [ ]:
print(grid2.best_params_)
print(grid2.best_score_)

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'your_name.sav'
joblib.dump(your_model, filename)